*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.region{
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #999;
}
.yellow{
  background-color: yellow;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
