<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>get and set</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="firstname" />
    <input type="text" v-model="lastname" />
    <input type="text" v-model="fullname" />
    <p>Имя: {{fullname}}</p>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>
    let app = new Vue ({
      el: '#app',
      data: {
        firstname: 'Tom',
        lastname: 'Smith'
      },
      computed: {
        fullname: {
          get: function(){
            return `${this.firstname} ${this.lastname}`;
          },
          set: function(newValue){
            let names = newValue.split(' ');
            this.firstname = names[0];
            this.lastname = names[names.length - 1];
          }
        }
      }
    });
  </script>
</body>
</html>
