<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>style2</title>
</head>
<body>
  <div id="app">
    <div class="region"
      v-bind:style="styleObj">
    </div>
    <br><br>
    <input type="text" v-model="color"/>
    <br><br>
    <input type="text" v-model="width"/>
    <br><br>
    <input type="text" v-model="height"/>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>
  //Если необходимо установливать много различных стилевых свойств, то их можно вынести в отдельное вычисляемое свойство:
    let app = new Vue ({
      el: '#app',
      data: {
        color: 'red',
        width: 75,
        height: 75
      },
      computed: {
        styleObj: function(){
          return {
            'background-color': this.color,
            height: this.height + 'px',
            width: this.width + 'px'
          }
        }
      }
    });
  </script>
</body>
</html>
