<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>input</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
  <div id="app" class="col-md-4">
    <label>Логин</label>
    <input type="text" v-model="login" placeholder="Введите логин" class="form-control">
    <br>
    <label>Пароль</label>
    <input type="password" v-model="password" placeholder="Введите пароль" class="form-control">
    <br>
    <label>Возраст</label>
    <input type="number" v-model="age" min="18" placeholder="Введите возраст" class="form-control">
    <br>
    <label>Дата регистрации</label>
    <input type="date" v-model="date" placeholder="Введите дату" class="form-control">
    <br>
    <div>
      <h3>Введенная информация</h3>
      <p>Логин: {{login}}</p>
      <p>Пароль: {{password}}</p>
      <p>Возраст: {{age}}</p>
      <p>Дата регистрации: {{date}}</p>
    </div>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>
    //используем ряд базовых элементов input:
    let app = new Vue ({
      el: '#app',
      data: {
        login: '',
        password: '',
        age: 22,
        date: ''
      }
    });
  </script>
</body>
</html>
