<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>object vue2</title>
</head>
<body>
  <div id="app1">
    <input type="text" v-model="name" />
    <input type="number" v-model="age" />
    <p>{{name}} - {{age}} - {{position}}</p>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>
  var vm1 = new Vue({
      el: '#app1',
      data: {name:'Tom', age: 34}
  });
  // определение нового метода
  vm1.setAge = function(value){
      vm1.age = value;
  }
  // определение нового свойства
  vm1.position = "admin";
  setTimeout(function(){
      vm1.position = "moderator";
  }, 3000);
  </script>
</body>
</html>
