<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>return new array</title>
</head>
<body>
  <div id="app">
    <input type="number" v-model="start" />
    <input type="number" v-model="end" />
    <ul>
      <li v-for="phone in visibleList">
        <p>{{phone}}</p>
      </li>
    </ul>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>
    //Ряд методов, такие как slice, concat, filter, не изменяют текущий массив,
      //а возвращают новый. Одно из решений может заключаться в переустановке массива.
      //Например, используем метод slice, который возвращает часть массива:
      //Для представления данных обычно определяется вычисляемое свойство-список, элементы которого выводятся на веб-страницу:

    let app = new Vue ({
      el: '#app',
      data: {
        start: 0,
        end: 3,
        phones: ['iPhone 7', 'Galaxy S8', 'Nokia N8', 'Xiaomi Mi6']
      },
      computed: {
        visibleList: function(){
          return this.phones.slice(this.start, this.end);
        }
      }
    });
  </script>
</body>
</html>
