<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-bind5</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <div class="region"
      v-bind:class="[color, {bounded: isBounded}, size]"
      v-on:click="isBounded=!isBounded">
    </div>
    <br>
    <input type="text" v-model="color" />
    <br>
    <input type="text" v-model="size" />
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>
  //Если надо установить привязку сразу к нескольким классом, то их можно перечислить в квадратных скобках:
  let app = new Vue ({
      el: '#app',
      data: {
        color: 'red',
        size: 'small',
        isBounded: false
      }
    });
  </script>
</body>
</html>
